@model IEnumerable<QueroTransporte.Model.RotaModel>

@{
    ViewData["Title"] = "Index";
}

<div class="x_title">
    <h2>Manter Rota</h2>
    <a class="btn btn-primary" style="float:right" asp-controller="Rota" asp-action="Create">Adicionar Rota</a>
    <div class="clearfix"></div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Origem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioChegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaSemana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RotaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsComposta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Origem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioChegada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaSemana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RotaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsComposta)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
