@model QueroTransporte.Model.FrotaModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FrotaModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublic)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", "Frota", new { id = Model.Id })" class="btn btn-info"><i class="fa fa-pencil"></i> Editar </a>
    <a class="btn btn-default" asp-action="Index">Voltar</a>
</div>
