@model QueroTransporte.Model.MotoristaModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MotoristaModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Validade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Validade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cnh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cnh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUsuario) - @ViewBag.NomeUsuario
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Remover" class="btn btn-success" />
        <a class="btn btn-danger" asp-action="Index">Cancelar</a>
    </form>
</div>
