@model QueroTransporte.Model.ViagemModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label class="control-label">Origem</label>
                <input class="form-control" value="@ViewBag.rota.Origem" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">Destino</label>
                <input class="form-control" value="@ViewBag.rota.Destino" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.IdVeiculo)</label>
                <input class="form-control" value="@ViewBag.placa.Placa" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Preco)</label>
                <input class="form-control" value="R$@Html.DisplayFor(model => model.Preco)" readonly />
            </div>
            <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.Lotacao)</label>
                <input class="form-control" value="@Html.DisplayFor(model => model.Lotacao)" readonly />
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsRealizada" /> @Html.DisplayNameFor(model => model.IsRealizada)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <a href="@Url.Action("Edit", "Viagem", new { id = Model.Id })" class="btn btn-info"><i class="fa fa-pencil"></i> Editar </a>
                <a class="btn btn-default" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>