@model IEnumerable<Model.ViewModel.ViagemRotaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rota.Origem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rota.Destino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Veiculo.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viagem.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viagem.Lotacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Viagem.IsRealizada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rota.Origem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rota.Destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Veiculo.Placa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Viagem.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Viagem.Lotacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Viagem.IsRealizada)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Viagem.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Viagem.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Viagem.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
