@model QueroTransporte.Model.VeiculoModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>VeiculoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdFrota) 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdFrota) - @ViewBag.TituloFrota
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnoFabricacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnoFabricacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AnoModelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnoModelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEmplacamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEmplacamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Chassi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Chassi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Capacidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Capacidade)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("Edit", "Veiculo", new { id = Model.Id })" class="btn btn-info"><i class="fa fa-pencil"></i> Editar </a>
    <a class="btn btn-default" asp-action="Index">Voltar</a>
</div>
