@model IEnumerable<Model.ViewModel.CreditoViagemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <input type="submit" value="+" class="btn btn-default" />
                </td>
            </tr>
        }
    </tbody>
    <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
                Total: 0.0
        </td>
    </tr>
</table>


